<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Action | Netflix</title>
    <link rel="icon" type="image" href="/images/netflixlogo.jpeg" />
    <link rel="stylesheet" href="/stylesheets/navbar.css">

    <style>
        body {
            padding-top: 0px;
            background-color: #000;
        }

        .row {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            text-wrap: wrap;
            margin: 10px;

        }



        img {
            width: 400px;
            height: 500px;
            border-radius: 15px;
            border: red 1px solid;
        }

        p {
            margin-top: 0px;
            color: #fff;
            text-align: center;
            font-size: 30px;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
    </style>
</head>

<body>
    <%- include('partials/navbar') %>
        <!-- views/partials/index.ejs -->
        <div class="row">
            <div>
                <a href="https://www.youtube.com/watch?v=Ab2YIbP5xw8">
                    <img src="/images/suits.jpg"></a>
                <p>Suits</p>
            </div>
            <div>
                <a href="https://www.youtube.com/watch?v=lV6sJlBbhPs">
                    <img src="/images/diplomat.jpg"></a>
                <p>The Diplomat</p>
            </div>

            <div>
                <a href="https://www.youtube.com/watch?v=Yi4YnwFT7Gk">
                    <img src="/images/vikings.jpg"></a>
                <p>Vikings: Valhalla</p>
            </div>

            <div>
                <a href="https://www.youtube.com/watch?v=ndl1W4ltcmg&t=14s">
                    <img src="/images/hahaha.jpg"></a>
                <p>The Witcher</p>
            </div>

            <div>
                <a href="https://www.youtube.com/watch?v=UCP3qLAAs9M">
                    <img src="/images/cobra.jpg"></a>
                <p>Cobra Kai</p>
            </div>
            <div>
                <a href="https://www.youtube.com/watch?v=O61C8zc8Znk">
                    <img src="/images/game.png"></a>
                <p>Squid Game</p>
            </div>
            <div>
                <a href="https://www.youtube.com/watch?v=PSr9xuLhccc">
                    <img src="/images/skyrojo.jpg"></a>
                <p>Sky Rojo</p>
            </div>
            <div>
                <a href="https://www.youtube.com/watch?v=89UV8vmWXlY">
                    <img src="/images/midnight-mass.jpg"></a>
                <p>Midnight Mass</p>
            </div>
            <div>
                <a href="https://www.youtube.com/watch?v=hQXKyIG_NS4">
                    <img src="/images/academy.jpg"></a>
                <p>The Umbrella Academy</p>
            </div>
            <div>
                <a href="https://www.youtube.com/watch?v=xl8zdCY-abw">
                    <img src="/images/Narcos_season_3.png"></a>
                <p>Narcos</p>
            </div>
            <div>
                <a href="https://www.youtube.com/watch?v=JQk2hJs2ToA">
                    <img src="/images/thelastdance.jpg"></a>
                <p>The Last Dance</p>
            </div>
            <div>
                <a href="https://www.youtube.com/watch?v=Ruyl8_PT_y8">
                    <img src="/images/peakyblinder.jpg"></a>
                <p>
                    Peaky Blinders</p>
            </div>

        </div>
</body>

</html>