<!DOCTYPE html>
<html>

<head>
  <title>Netflix | Express</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="icon" type="image" href="/images/netflixlogo.jpeg" />
  <link rel="stylesheet" href="/stylesheets/navbar.css">

</head>

<body>
  <%- include('partials/navbar') %>

  <div style="text-align: center;">
    <img src="/images/kunjesh-netflix.png" width="1100px" height="525px" alt="">
  </div>



   
</body>

</html>