<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Mystery | Netflix</title>
    <link rel="icon" type="image" href="/images/netflixlogo.jpeg" />
    <link rel="stylesheet" href="/stylesheets/navbar.css">
    <style>
        body {
            padding-top: 0px;
            background-color: #000;
        }

        .row {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            text-wrap: wrap;
            margin: 10px;

        }



        img {
            width: 400px;
            height: 500px;
            border-radius: 15px;
            border: red 1px solid;
        }

        p {
            margin-top: 0px;
            color: #fff;
            text-align: center;
            font-size: 30px;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }

        .mar {
            margin-top: 0px;
            color: #fff;
            text-align: center;
            font-size: 30px;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

        }
    </style>
</head>

<body>
        <!-- To include the partial for navbar -->

    <%- include('partials/navbar') %>
    <div class="row">
        <div class="action">
            <a href="https://www.youtube.com/watch?v=rrwycJ08PSA">
                <img src="/images/dark.jpg"></a>
            <p>Dark</p>
        </div>

        <div>
            <a href="https://www.youtube.com/watch?v=ga0iTWXCGa0">
            <img src="/images/Lupinposter2.webp"></a>
            <p>Lupin</p>
        </div>

        <div>
            <a href="https://www.youtube.com/watch?v=VRbWuHPyZCU">
            <img src="/images/elel.jpg"></a>
            <p>El Elegido</p>
        </div>

        <div>
            <a href="https://www.youtube.com/watch?v=8BICSi4XsMU">
            <img src="/images/Stranger_Things_season_3.png"></a>
            <p>Stranger Things</p>
        </div>
        <div>
            <a href="https://www.youtube.com/watch?v=X9zZl5nov68">
            <img src="/images/katla.jpg"></a>
            <p>Katla</p>
        </div>
        <div>
            <a href="https://www.youtube.com/watch?v=DZtgPv3LjrI">
            <img src="/images/Rugal_2020.jpg"></a>
            <p>Rugal</p>
        </div>
        <div>
            <a href="https://www.youtube.com/watch?v=nUVNbJMWi_c">
            <img src="/images/becham.jpg"></a>
            <p>Beckham</p>
        </div>
        <div>
            <a href="https://www.youtube.com/watch?v=ndl1W4ltcmg">
            <img src="/images/witchers.jpg"></a>
            <p>The Witcher</p>
        </div>
        <div>
            <a href="https://www.youtube.com/watch?v=I1hNAIzkQWY">
            <img src="/images/manifest.jpg"></a>
            <p>Manifest</p>
        </div>
        <div>
            <a href="https://www.youtube.com/watch?v=YDbnY9Obsfs">
            <img src="/images/the night agent.jpeg"></a>
            <p>The Night Agent</p>
        </div>
        <div>
            <a href="https://www.youtube.com/watch?v=y1tKXECPALU">
            <img src="/images/silence.jpg"></a>
            <p>Pacto De Silenco</p>
        </div>
        <div>
            <a href="https://www.youtube.com/watch?v=r9PeYPHdpNo">  
            <img src="/images/planet.jpg"></a>
            <p>Our Planet</p>
        </div>
    </div>
</body>

</html>