<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Romance | Netflix</title>
    <link rel="icon" type="image" href="/images/netflixlogo.jpeg" />
    <link rel="stylesheet" href="/stylesheets/navbar.css">
    <style>
        body {
            padding-top: 0px;
            background-color: #000;
        }

        .row {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            text-wrap: wrap;
            margin: 10px;

        }



        img {
            width: 400px;
            height: 500px;
            border-radius: 15px;
            border: red 1px solid;
        }

        p {
            margin-top: 0px;
            color: #fff;
            text-align: center;
            font-size: 30px;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }

        
    </style>
</head>

<body>
    <%- include('partials/navbar') %>
    <div class="row">
        <div>
            <a href="https://www.youtube.com/watch?v=5ssySk8BTRc">
                <img src="/images/sex.jpg"></a>
            <p>Sex Education</p>
        </div>
        <div>
            <a href="https://www.youtube.com/watch?v=0ypoprlk8MY">
                <img src="/images/cook.jpg"></a>
            <p>The Cook of Castamar</p>
        </div>

        <div>
            <a href="https://www.youtube.com/watch?v=GVQGWgeVc4k">
                <img src="/images/Crush.jpg"></a>
            <p>Crash Landing On You</p>
        </div>

        <div>
            <a href="https://www.youtube.com/watch?v=8sXTfzaLmiQ">
                <img src="/images/love.jpg"></a>
            <p>Love Alarm</p>
        </div>

        <div>
            <a href="https://www.youtube.com/watch?v=XdAR-lK43YU">
                <img src="/images/velvet.jpg"></a>
            <p>Velvet</p>
        </div>
        <div>
            <a href="https://www.youtube.com/watch?v=kqCwxtEdJWk">
                <img src="/images/insucre.jpg"></a>
            <p>Insecure</p>
        </div>
        <div>
            <a href="https://www.youtube.com/watch?v=LhpA-_8cWv8">
                <img src="/images/Little_Things_Poster.jpg"></a>
            <p>Little Things</p>
        </div>
        <div>
            <a href="https://www.youtube.com/watch?v=gpv7ayf_tyE">
                <img src="/images/BRIDGERTON.jpg"></a>
            <p>Bridgerton</p>
        </div>
        <div>
            <a href="https://www.youtube.com/watch?v=97VS9HaEwY8">
                <img src="/images/love_anarcyjpg.jpg"></a>
            <p>Love & Anarchy</p>
        </div>
        <div>
            <a href="https://www.youtube.com/watch?v=lWbOK7dh-PM">
                <img src="/images/valeria.jpg"></a>
            <p>Valeria</p>
        </div>
        <div>
            <a href="https://www.youtube.com/watch?v=e_lBUTT4e7k">
                <img src="/images/cable.jpg"></a>
            <p>Las Chicas del Cable</p>
        </div>
        <div>
            <a href="https://www.youtube.com/watch?v=TEgrH93KLgY">
                <img src="/images/sweet.jpeg"></a>
            <p>
                Sweet Magnolias</p>
        </div>

    </div>
</body>

</html>