{{!-- Global Template for HEADER & FOOTER --}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/stylesheets/style.css">
</head>

<body>
    <!--? Header  -->
    <div id="header">
        <div class="containerXY">
            <nav>
                <p class="kunjesh-ramani">Kunjesh Ramani &nbsp;&nbsp;&nbsp;</p>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/project">Projects</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/contact">Contact Me</a></li>
                </ul>
            </nav>
        </div>

        
        {{{body}}}
        <!--? Copyright -->
        <div class="copyright">
            <p class="copyright-p">Copyright @Kunjesh. Made with <i class="fa-solid fa-heart"></i> by KKR</p>
        </div>


        <div class="overlay hidden"></div>

    </div>

</body>

</html>