{{!-- Global Template for HEADER & FOOTER --}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/stylesheets/style.css">
</head>
<body>
     <!--? Header  -->
    <div id="header">
        <div class="containerXY">
            <nav>
                <p class="kunjesh-ramani">Kunjesh Ramani &nbsp;&nbsp;&nbsp;<a style="color: #fff" href="https://www.instagram.com/kunjesh_kkr/" target="_blank"><i
                                class="fa-brands fa-instagram"></i></a></p>
                
                <ul>
                    <li><a href="#home">Home</a>< /li>
                    <li><a href="#projects">Projects</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="#contact">Contact Me</a></li>
                </ul>
            </nav>
        </div>
    {{{body}}}
    
</body>
</html>