<h1>
  {{title}}
</h1>
<form method="POST">
  <fieldset>
    <label for="name">
      
    </label>
    <input name="time" placeholder="time" id="time" />
    <input name="nonstop" placeholder="nonstop" id="nonstop" />
    <input name="price" placeholder="price" id="price" />
    <input name="city" placeholder="city" id="city" />
    <input name="date" placeholder="date" id="date" />
    <input name="flight" placeholder="flight" id="flight" />
  </fieldset>
  <button class="offset-3 btn btn-primary">
    Save
  </button>
</form>