<div class="example">

    <!--? Header  -->
    <div id="header">
        <div class="containerXY">
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/action">Action</a></li>
                    <li><a href="./romance">Romance</a></li>
                    <li><a href="./comedy">Comedy</a></li>
                    <li><a href="./mystery">Mystery</a></li>
                </ul>
            </nav>


        </div>
    </div>