body {
  /* background-image: url('/images/just-sky-blue-blur-wallpaper-preview.jpg'); */
  background-image: url('/images/Untitleddesign.png');
  background-repeat: no-repeat;
  background-size: cover;
  /* padding: 50px; */
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
